body{
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(29, 28, 28);
}

.card{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 183, 193);
    overflow: hidden;

}

.card::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgb(246, 39, 3) , rgb(4, 48, 244));
    width: 120%;
    height: 120%;
    animation: animate 4s linear infinite;
}
.card::after{
    content: "";
    position: absolute;
    inset: 8px;
    
    background-color: rgb(14, 13, 14);
   
}
.card .content{
    z-index: 20;
    padding: 30px;
    font-size: 3rem;
    color: rgb(146, 133, 67);
    font-weight: 900;
    transition: all 3s;
}
button{
    border: 2px solid inset;
    padding: 26px;
    color: rgb(95, 204, 36);
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

     100%{
        transform: rotate(360deg);
     
    }

}