* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}

.slide-down {
    animation: slide-down 1s ease;
    -webkit-animation: slide-down 1s ease;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    from {
        opacity: 1;
    }
    to {
        margin-top: 50px;
        opacity: 0;
    }
}


.slide-up {
    animation: slide-up 1s ease;
    -webkit-animation: slide-up 1s ease;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {
        margin-top: 17px;
        opacity: 1;
    }
}

.slide-right1 {
    animation: slide-right1 1s linear;
    -webkit-animation: slide-right1 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.7s
}

@keyframes slide-right1 {
    from {
        visibility: visible;
        left: 5px;
    }
    to {
        left: 100px;
        visibility: visible;
    }
}

.slide-left1 {
    animation: slide-left1 1s linear;
    -webkit-animation: slide-left1 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slide-left1 {
    from { left: 80px; visibility: visible}
    to {left: 0; visibility: hidden}
}
 

.slide-left {
    animation: slide-left 1s linear;
    -webkit-animation: slide-left 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes slide-left {
    from {
        visibility: visible;
        right: 5px;
    }
    to {
        right: 80px;
        opacity: 1;
        visibility: visible;
    }
}

.slide-right {
    animation: slide-right 1s linear;
    -webkit-animation: slide-right 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    from { right: 80px; visibility: visible;}
    to {right: 0; visibility: hidden;}
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 400px;
    max-width: 500px;
    background-color: white;
    padding-top: 10px;
}
.container > p {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: 50px;
}
.container > p:nth-of-type(1) {
    color: rgb(85, 146, 141);
    font-size: 12px;
}
.market{
    position: relative;
    background-color: rgb(227, 205, 205);
   max-width:400px;
    height: 200px;
}
.send {
    width: 200px;
    height: 50px;
    padding: 1px;
    background-color: rgb(15, 15, 200);
    border: none;
    text-align: center;
    cursor: pointer;
}

.human-wrapper {
    width: 23px;
    height: 25px;
    /* border: 1px solid lime; */
    bottom: 40px;
    z-index: 5;
    position: absolute;
    visibility: hidden;
}
.head {
    width: 20px;
    height: 20px;
    background-color: rgb(28, 25, 25);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}
.body {
    width: 10px;
    height: 30px;
    background-color: rgb(223, 19, 19);
    position: absolute;
    left: 3px;
    top: 21px;
}
.hand {
    width: 20px;
    height: 8px;
    background-color: white;
    position: absolute;
    left: 3px;
    top: 22px;
    z-index: 1;
}
.package {
    width: 20px;
    height: 20px;
    background-color: rgb(69, 248, 9);
    position: absolute;
    left: 11px;
    top: 15px;
}

.send > div:nth-of-type(1) {
    bottom: 10px;
    left: 5px;
}
.send > div:nth-of-type(2) {
    bottom: 10px;
    right: 5px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
#character2 .package {
    visibility: hidden;
}